{% extends "base.html.twig" %}

{% block content %}

    <div class="row">

        <div class="col-md-8 col-sm-12">

            <div class="content-background" >
                <div class="content">

                    <h2>Voeg hier een graf toe</h2>

                    <form action="add" method="post">
                        Reference: <input type = "text" id="Reference" name = "Reference" value="Reference Here"/> <br />
                        Cemetery: <input type = "text" name = "Cemetery" value="Cemetery Here"/> <br />
                        Deceased: <input type = "text" name = "Deceased" value="Deceased Here"/> <br />
                        Location: <input type = "text" name = "Location" value="Location Here"/> <br />
                        Position: <input type = "text" name = "Position" value="Position Number Here"/> <br />
                        Grave Type: <input type = "text" name = "GraveType" value="GraveType Here"/> <br />
                        Status: <input type = "text" name = "Status" value="Status Here"/> <br />
                        Acquisition: <input type = "text" name = "Acquisition" value="Acquisition Here"/> <br />
                        Description: <input type = "text" name = "Description" value="Description Here"/> <br />

                        <input type="submit" name="Submit" value="Add"/>
                    </form>
                    <br />

                    <p>{{ dump(grave) }}</p>

                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->
    </div>

{% endblock %}
