{% extends "base.html.twig" %}

{% block content %}

    <div class="row">

        <div class="col-md-8 col-sm-12">

            <div class="content-background" >
                <div class="content">

                    <h2>Voeg hier een graf toe</h2>

                    <form action="add" method="post">
                        Reference: <input type = "text" name = "Reference" value="Reference Here"/> <br />
                        <div class="field select-box">
                            Cemetery:
                            <select name="Cemetery">
                                <option>Select Cemetery</option>
                                {% for cemetery in cemeteries['hydra:member'] %}
                                    <option value="{{ cemetery['@id'] }}">{{  (cemetery['reference']) }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        Deceased: <input type = "text" name = "Deceased" value="Deceased Here"/> <br />
                        Location: <input type = "text" name = "Location" value="Location Here"/> <br />
                        Position: <input type = "text" name = "Position" value="Position Number Here"/> <br />
                        Grave Type: <input type = "text" name = "GraveType" value="GraveType Here"/> <br />
                        Status: <input type = "text" name = "Status" value="Status Here"/> <br />
                        Acquisition: <input type = "text" name = "Acquisition" value="Acquisition Here"/> <br />
                        Description: <input type = "text" name = "Description" value="Description Here"/> <br />

                        <input type="submit" name="Submit" value="Add"/>
                    </form>

                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->
    </div>

{% endblock %}
