version: '3.5'

x-cache:
  &cache
  cache_from:
    - ${CONTAINER_REGISTRY_BASE}/${CONTAINER_PROJECT_NAME}-php
    - ${CONTAINER_REGISTRY_BASE}/${CONTAINER_PROJECT_NAME}-nginx
    - ${CONTAINER_REGISTRY_BASE}/${CONTAINER_PROJECT_NAME}-varnish
    - ${CONTAINER_REGISTRY_BASE}/${CONTAINER_PROJECT_NAME}-admin
    - ${CONTAINER_REGISTRY_BASE}/${CONTAINER_PROJECT_NAME}-client
    - ${CONTAINER_REGISTRY_BASE}/${CONTAINER_PROJECT_NAME}-h2-proxy

services:
  php:
    &php
    image: ${CONTAINER_REGISTRY_BASE}/${CONTAINER_PROJECT_NAME}-php:${APP_ENV}
    build:
      context: ./api
      target: api_platform_php
      <<: *cache
    depends_on:
      - db
    volumes:
      - ./api:/srv/api:rw,cached
      - ./nlx-setup:/cert:rw,cached
      #- ./nlx-setup:/Users/<your-username>/nlx-setup:rw,cached
      # If you develop on Linux, uncomment the following line to use a bind-mounted host directory instead
      # - ./api/var:/srv/api/var:rw
    environment:
      - CONTAINER_REGISTRY_BASE=${CONTAINER_REGISTRY_BASE}
      - CONTAINER_PROJECT_NAME=${CONTAINER_PROJECT_NAME}
      - CONTAINER_REPRO=${CONTAINER_REPRO}
      - DATABASE_URL=postgres://api-platform:!ChangeMe!@db/api?serverVersion=10.1
      - APP_ENV=${APP_ENV}
      - APP_DEBUG=${APP_DEBUG} 
      - APP_VERSION=${APP_VERSION}    
      - APP_NAME=${APP_NAME} 
      - APP_TITLE=${APP_TITLE}
      - APP_DOMAIN=${APP_DOMAIN}
      - APP_DEMO=${APP_DEMO}
      - APP_REPRO=${APP_REPRO}
      - APP_DESCRIPTION=${APP_DESCRIPTION}
      - ORGANIZATION_NAME=${ORGANIZATION_NAME}
      - ORGANIZATION_EMAIL_ADDRESS=${ORGANIZATION_EMAIL_ADDRESS}
      - ORGANIZATION_COUNTRY_NAME=${ORGANIZATION_COUNTRY_NAME}
      - ORGANIZATION_STATE=${ORGANIZATION_STATE}
      - ORGANIZATION_LOCALITY=${ORGANIZATION_LOCALITY}
      - ORGANIZATION_UNIT_NAME=${ORGANIZATION_UNIT_NAME}
      - TRUSTED_PROXIES=${TRUSTED_PROXIES}
      - TRUSTED_HOSTS=${TRUSTED_HOSTS}
      - AUTH_ENABLED=${AUTH_ENABLED}
      - AUDITTRAIL_ENABLED=${AUDITTRAIL_ENABLED}
      - NOTIFICATION_ENABLED=${NOTIFICATION_ENABLED}
      - HEALTH_ENABLED=${HEALTH_ENABLED}
      - ARCHIVE_ENABLED=${ARCHIVE_ENABLED}
      - NLX_OUTWAY=${NLX_OUTWAY}
      - NLX_INWAY=${NLX_INWAY}
    ports:
      - "8082:80"

  api:
    image: ${CONTAINER_REGISTRY_BASE}/${CONTAINER_PROJECT_NAME}-nginx:${APP_ENV}
    build:
      context: ./api
      target: api_platform_nginx
      <<: *cache
    depends_on:
      - php
    # Comment out this volume in production if you do not want to use nlx
    #  - nlx-outway
    # If you us this docker-compose file for production enviroments and want to us nlx-inway uncomment the following lins
    #  - nlx-inway
    # Comment out this volume in production
    volumes:
      - ./api/public:/srv/api/public:ro
    ports:
      - "8080:80"
    environment:
      - NGINX_HOST=php

  cache-proxy:
    &varnish
    image: ${CONTAINER_REGISTRY_BASE}/${CONTAINER_PROJECT_NAME}-varnish:${APP_ENV}
    build:
      context: ./api
      target: api_platform_varnish
      <<: *cache
    depends_on:
      - api
      - php
    volumes:
      - ./api/docker/varnish/conf:/usr/local/etc/varnish:rw,cached
    tmpfs:
      - /usr/local/var/varnish:exec
    ports:
     - "8081:80"
    environment:
     - BACKENDS=php
      
  nlx-outway:
    image: ${CONTAINER_REGISTRY_BASE}/${CONTAINER_PROJECT_NAME}-nlx-outway:${APP_ENV}
    build:
      context: ./api
      target: api-nlx-outway
    depends_on:
      - nlx-postgres
    volumes:
      - ./api/nlx-setup:/certs:rw,cached
    environment:
      - DIRECTORY_INSPECTION_ADDRESS=directory-inspection-api.demo.nlx.io:443 
      - TLS_NLX_ROOT_CERT=/certs/root.crt 
      - TLS_ORG_CERT=/certs/org.crt 
      - TLS_ORG_KEY=/certs/org.key 
      - POSTGRES_DSN=postgres://postgres:postgres@nlx-postgres/txlog-db?sslmode=disable&connect_timeout=10
    networks:
      - nlx
    
 # Uncomment the follwoign lines if you want to deploy trough a docker-compose chart and wish to use an nlx inway
 # 
 # nlx-inway:
 #   image: ${CONTAINER_REGISTRY_BASE}/${CONTAINER_PROJECT_NAME}-nlx-inway:${APP_ENV}
 #   build:
 #     context: ./api
 #     target: api-nlx-inway
 #   depends_on:
 #     - nlx-postgres
 #   volumes:
 #     - ./api/nlx-setup:/certs:rw,cached
 #   environment:
 #     - DIRECTORY_REGISTRATION_ADDRESS=directory-registration-api.demo.nlx.io:443 
 #     - SELF_ADDRESS=pc.zaakonline.nl:443 
 #     - SERVICE_CONFIG=/service-config.toml 
 #     - TLS_NLX_ROOT_CERT=/certs/root.crt 
 #     - TLS_ORG_CERT=/certs/org.crt 
 #     - TLS_ORG_KEY=/certs/org.key 
 #     - POSTGRES_DSN=postgres://postgres:postgres@nlx-postgres/txlog-db?sslmode=disable&connect_timeout=10
 #   networks:
 #     -  nlx
  
  # Comment out this service in production if you do not want to use nlx
  nlx-postgres:
    image: postgres:12
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: txlog-db
      POSTGRES_USER: postgres
    volumes:
      - nlx-data-2:/var/lib/postgresql/data:rw
    networks:
      - nlx
      
  # Comment out this service in production if you do not want to use nlx
  txlog-db:
    image: nlxio/txlog-db
    depends_on:
      - nlx-postgres
      - nlx-outway
    # If you us this docker-compose file for production enviroments and want to us nlx-inway uncomment the following lins
    #  - nlx-inway
    environment:
      PGHOST: nlx-postgres
      PGUSER: postgres
      PGPASSWORD: postgres
      PGDATABASE: txlog-db
    command: /usr/local/bin/upgrade-db.sh
    networks:
      - nlx
    
  db:
    image: postgres:10-alpine
    environment:
      - POSTGRES_DB=api
      - POSTGRES_USER=api-platform
      # You should definitely change the password in production
      - POSTGRES_PASSWORD=!ChangeMe!
    volumes:
      - db-data:/var/lib/postgresql/data:rw

  mercure:
    # In production, you may want to use the managed version of Mercure, https://mercure.rocks
    image: dunglas/mercure
    environment:
      # You should definitely change all these values in production
      - JWT_KEY=!UnsecureChangeMe!
      - ALLOW_ANONYMOUS=1
      - CORS_ALLOWED_ORIGINS=*
      - PUBLISH_ALLOWED_ORIGINS=http://localhost:1337,https://localhost:1338
      - DEMO=1
    ports:
      - "1337:80"

  client:
    # Use a static website hosting service in production
    # See https://facebook.github.io/create-react-app/docs/deployment
    image: ${CONTAINER_REGISTRY_BASE}/${CONTAINER_PROJECT_NAME}-client
    build:
      context: ./client
      cache_from:
        - ${CONTAINER_REGISTRY_BASE}/client
    env_file:
      - ./client/.env
    volumes:
      - ./client:/usr/src/client:rw,cached
      - /usr/src/client/node_modules

  admin:
    # Use a static website hosting service in production
    # See https://facebook.github.io/create-react-app/docs/deployment
    image: ${CONTAINER_REGISTRY_BASE}/admin
    build:
      context: ./admin
      cache_from:
        - ${CONTAINER_REGISTRY_BASE}/${CONTAINER_PROJECT_NAME}-admin
    volumes:
      - ./admin:/usr/src/admin:rw,cached
      - /usr/src/admin/node_modules
    
  h2-proxy:
    # Don't use this proxy in prod
    build:
      context: ./h2-proxy
      cache_from:
        - ${CONTAINER_REGISTRY_BASE}/${CONTAINER_PROJECT_NAME}-h2-proxy
    depends_on:
      - db
      - client
      - admin
      - api
      - cache-proxy
      - mercure
      #- stag-pc-cache-proxy
      #- dev-pc-cache-proxy
    #volumes:
    #  - ./conf.d/:/etc/nginx/conf.d/:rw,cached
    ports:
      - "80:80" #http port
      - "443:443" #ssl port
      - "444:444"
      - "8443:8443"
      - "8444:8444" 
      - "5432:5432" #postgress port
    environment:
      - APP_ENV=${APP_ENV}
      - APP_NAME=${CONTAINER_PROJECT_NAME}

networks:
  nlx:
    name: nlx

volumes:
  db-data: {}
  nlx-data-2: {}
