doctrine:
    dbal:
        # configure these for your database server
        # driver: 'pdo_pgsql'
        # server_version: '10'
        url: '%env(resolve:DATABASE_URL)%'
        types:
            uuid:  Ramsey\Uuid\Doctrine\UuidType
            incompleteDate:  App\Types\IncompleteDateType
            underInvestigation:  App\Types\UnderInvestigationType
            money: Tbbc\MoneyBundle\Type\MoneyType
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
            gedmo_loggable:
                type: annotation
                prefix: Gedmo\Loggable\Entity
                dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Loggable/Entity"
                alias: GedmoLoggable # (optional) it will default to the name set for the mapping
                is_bundle: false
