@import '../../theme/components/navigation';

@import '../../settings/z-indexes';
@import '../../tools/functions';

.nav {
  display: flex;
  margin-left: 0;
}

ul.nav {
  margin-bottom: 0;
}

.collapse--nav .collapse__details {
  padding-top: 1.2rem;

  &:focus {
    outline: none;
  }
}

.nav__item {
  display: block;
  font-weight: $top-nav-fontweight;
  line-height: 3rem;
  margin: 0;
}

.nav__link {
  display: block;
  padding: $nav-item-padding;
  text-decoration: none;
  text-overflow: ellipsis;

  &:focus {
    text-decoration: underline;
  }
}

.autoresize__sibling {
  flex-shrink: 0;
}

.nav__item--parent {
  position: relative;

  .nav__submenu {
    display: none;
    position: absolute;
    right: 0;
    top: 7.2rem;
    z-index: z-index(navigation, submenu);

    .nav__item {
  
      &:hover,
      &:focus {
        outline: none;
        text-decoration: none;
      }
      
      &.nav__link {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        width: calc(100% - 2.5rem);
      }
    }

    .nav__item:last-of-type {
      border-bottom: none;
    }

    .nav__link {
      text-decoration: none;

      &:focus, &:hover {
        text-decoration: underline;
      }
    }

    @include media-breakpoint-down(xs){
      padding-bottom: 0.6rem;
    }
  }

  &.nav__item--parent-open,
  &:hover {
    filter: drop-shadow(0 1px 2px rgba(43, 43, 43, 0.5));
    position: relative;
    z-index: z-index(navigation, submenu);

    @include media-breakpoint-up(sm) {

      .nav__link--parent::after {
        content: map_get($icons, icon-collapse-up);
      }
    }

    .nav__submenu {
      display: block;
    }
  }
}

.nav__link--parent {
  padding: 2.3rem 3.8rem 1.6rem 2rem;

  @include media-breakpoint-up(sm) {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    padding: 2.3rem 3.8rem 1.6rem 2rem;

    &::before {
      display: none;
    }
  }

  &::after {
    // IE Fix
    text-decoration: underline;
  }

  &::after {
    @include include-icon();
    content: '';
    position: absolute;
    text-decoration: none;
  }

  &::after {
    content: map_get($icons, icon-collapse-down);
    right: 1.8rem;
    top: 2.8rem;
  }
}

// Also target hover state to cancel collapse-up icon
.nav__item--minified:hover,
.nav__item--minified {
  float: right;

  .nav__link--parent {

    &::after {
      content: '';
    }
  }
}
