<ul class="definition-list">
    <li class="definition-list__item definition-list__item--horizontal">
        <div class="definition-list__title">
            Voornamen
        </div>
    </li>
</ul>
