<label class="input__label" for="email">Email</label>
<input class="input__control input__control--text input__control--l" id="email" type="email" name="{{ property.name }}[contact][email]">
<label class="input__label" for="telefoon">Telefoonnummer</label>
<input class="input__control input__control--text input__control--m" id="telefoon" type="tel" name="{{ property.name }}[contact][telephone]">
<label class="input__label" for="voornaam">Voornaam</label>
<input class="input__control input__control--text input__control--m" id="voornaam" type="text" name="{{ property.name }}[contact][person][givenName]" required="">
<label class="input__label" for="achternaam">Achternaam</label>
<input class="input__control input__control--text input__control--l" id="achternaam" type="text" name="{{ property.name }}[contact][person][familyName]" required="">
