.list--dash {
  margin-left: 0;

  li {
    padding-left: 2.4rem;
    position: relative;

    &:before {
      content: '\2013';
      left: 0.2rem;
      line-height: 1;
      margin: 0;
      position: absolute;
      top: 0.4rem;
      width: auto;
    }
  }
}
