@import '../../core/grid';
@import '../../tools/units';
@import '../../settings/lists';

.list--decimal,
.list--decimal-circled {

  .content--inpage-nav-header & {

    @include media-breakpoint-up(lg) {
      font-size: $font-size-m;
    }

    li {
      line-height: $line-height-xs;
      margin-bottom: $spacing-xxs;

      @include media-breakpoint-up(lg) {
        margin-bottom: $spacing-s;
      }
    }
  }

  &.columns {
    column-gap: 6rem;
  }

  & > li::before {
    content: counter(duo-counter, decimal) ' ';
    text-align: right;
  }
}

.list--decimal-with-dot {

  &.columns {
    column-gap: 7.2rem;
  }

  & > li::before {
    content: counter(duo-counter, decimal) '.';
  }
}

.list--decimal-circled {

  > li::before {
    // Use px for IE10. Remove 1px and add it as padding, otherwise Edge won't
    // correctly center vertically.
    @include remToPx(line-height, $list-decimal-circled-radius - 0.1rem);

    background: $black;
    border-radius: 50%;
    color: $white;
    margin-left: -3.4rem;
    padding-top: 0.1rem;
    text-align: center;
    width: $list-decimal-circled-radius;
    
  }
}
