<div class="content-background background--donkerblauw">
    <div class="content">

        <h2>Menu</h2>
        <ul class="list list--links list--chevrons">
            <li>
                <a href="#">Wigdet</a>
            </li>
            <li>
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
        </ul>
    </div><!-- /.content -->
</div><!-- /.content-background -->
