{% set application = commonground_application() %}
<!DOCTYPE html>
<html lang="nl-NL">
<head><meta name="generator" content="Hexo 3.9.0">
    <meta charset="utf-8">

    <title> {% if application is not empty %}{{  application['name']  }}{% else %} Applicatie{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="/uno/components/favicon/ro-favicon-wit-0xffffff.png">

    <link rel="stylesheet" href="/uno/core/base.css">
    <link rel="stylesheet" href="/uno/core/grid.css">
    <link rel="stylesheet" href="/uno/components/lists/lists.css">
    <link rel="stylesheet" href="/uno/components/header/header.css">
    <link rel="stylesheet" href="/uno/components/collapse/collapse.css">
    <link rel="stylesheet" href="/uno/components/navigation/breadcrumbs.css">
    <link rel="stylesheet" href="/uno/components/navigation/backlink.css">
    <link rel="stylesheet" href="/uno/components/navigation/sidenav.css">
    <link rel="stylesheet" href="/uno/components/form/form.css">
    <link rel="stylesheet" href="/uno/components/form/input.css">
    <link rel="stylesheet" href="/uno/components/button/button.css">
    <link rel="stylesheet" href="/uno/components/skiplink/skiplink.css">
    <link rel="stylesheet" href="/uno/components/tabs/tabs.css">
    <link rel="stylesheet" href="/uno/components/footer/footer.css">
    <link rel="stylesheet" href="/uno/components/navigation/navigation.css">
    <link rel="stylesheet" href="/css/main.css">


    <link rel="stylesheet" href="/uno/components/button/button.css">
    <link rel="stylesheet" href="/uno/components/card/card.css">
    <link rel="stylesheet" href="/uno/components/collapse/collapse.css">
    <link rel="stylesheet" href="/uno/components/form/checkbox.css">
    <link rel="stylesheet" href="/uno/components/form/filter.css">
    <link rel="stylesheet" href="/uno/components/form/form.css">
    <link rel="stylesheet" href="/uno/components/form/input.css">
    <link rel="stylesheet" href="/uno/components/form/radio.css">
    <link rel="stylesheet" href="/uno/components/hint/hint.css">
    <link rel="stylesheet" href="/uno/components/label/label.css">
    <link rel="stylesheet" href="/uno/components/list/definition-list.css">
    <link rel="stylesheet" href="/uno/components/list/list-card.css">
    <link rel="stylesheet" href="/uno/components/list/list-grid.css">
    <link rel="stylesheet" href="/uno/components/list/list-files.css">
    <link rel="stylesheet" href="/uno/components/list/list-notification.css">
    <link rel="stylesheet" href="/uno/components/list/list-subject.css">
    <link rel="stylesheet" href="/uno/components/list/list-search.css">
    <link rel="stylesheet" href="/uno/components/list/list-timeline.css">
    <link rel="stylesheet" href="/uno/components/list/list-filter.css">
    <link rel="stylesheet" href="/uno/components/meta/meta.css">
    <link rel="stylesheet" href="/uno/components/navigation/inpage.css">
    <link rel="stylesheet" href="/uno/components/notification/notification.css">
    <link rel="stylesheet" href="/uno/components/pagination/pagination.css">
    <link rel="stylesheet" href="/uno/components/quote/quote.css">
    <link rel="stylesheet" href="/uno/components/section/edit-section.css">
    <link rel="stylesheet" href="/uno/components/section/inner-section.css">
    <link rel="stylesheet" href="/uno/components/table/table.css">




    <script src="/uno/vendor/js/Promise.min.js"></script>
    <script src="/uno/vendor/js/system.js"></script>

    <script>
        System.config({
            packages: {
                '/': {
                    defaultExtension: 'js'
                }
            }
        });
    </script>

    <style>

    .header {
    	height: auto;
    	background-color: #fff;
    }

    .btn--block{
    	width:100%;
    }
    {% if application is not empty and application['style']['css'] is defined %}
    {{ application['style']['css'] }}
    {% endif %}
    </style>
</head>
</html>
<body>

<div class="wrapper">
    <a class="skiplink" href="#content">
    	<span class="skiplink__text">Ga direct naar inhoud</span>
	</a>

	{% include "header.html.twig" %}

	{% include "menu.html.twig" %}

    <main class="skiplink-target main" id="content" tabindex="-1">
        <div class="container">

            <!-- the alert box -->
            {% for label, messages in app.flashes() %}
                {% for message in messages %}
                    <div class="notification notification--{{ label }}">
                        <div class="notification__content">
                            <h2 class="notification__title">{{ message|trans|capitalize }}</h2>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}


          {% block content %}

          {% endblock %}

        </div>
    </main>

	{% include "footer.html.twig" %}

<script src="/js/highlight.pack.js"></script>

<script>
    // Load collapse component
    System['import']('/uno/components/collapse/collapse.js').then(function (m) {

        //gebruikt unieke id van de nav om te voorkomen dat example collapses ook automatisch geactiveerd worden.
        new m.Collapse(document.querySelector('#search-trigger'));
    });
    // Load nav component
    System.import('/uno/components/navigation/navigation.js').then(function (module) {
        var navs = document.querySelectorAll('.top-nav-autoresize');
        // Initialize all navs
        for (var i = 0; i < navs.length; i++) {
            new module.AutoResizeNavigation(navs.item(i));
        }
        var submenus = document.querySelectorAll('.nav--submenu');
        // Initialize all submenus
        for (var i = 0; i < submenus.length; i++) {
            new module.SubMenuNavigation(submenus.item(i));
        }
    });
</script>

</div>
</body>
</html>
