    <footer class="footer">
        <div class="footer__content background--hemelblauw">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4">
                        <span class="footer__header">Partners</span>
    
                        <ul class="list list--links footer__nav">
                            <li><a href="https://www.utrecht.nl/">Gemeente Utrecht</a></li>
                            <li><a href="https://www.conduction.nl/">Conduction</a></li> 
                        </ul>
                    </div>
    
                    <div class="col-xs-4">
                        <span class="footer__header">Bijdragen</span>
                        <ul class="list list--links footer__nav">
                            <li><a rel="external" href="https://github.com/ConductionNL/instemmingen-interface">GitHub</a></li>
                        </ul>
                    </div>
    
                    <div class="col-xs-4">
                        <span class="footer__header">Contact</span>
                        <ul class="list list--links footer__nav">
                            <li><a href="">Stuur een e-mail</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>