	<header class="header header--transparent"  role="banner">
        <div class="header-logo header-logo--bzk">
            <a href="/" title="Logo Gemeenten Westfriesland">
                <span class="screenreader-only">Gemeenten Westfriesland, naar de homepage</span>
            </a>
        </div>
    </header>
