	<header class="header header--transparent"  role="banner">
        <div class="header-logo header-logo--bzk">
            <a href="/" title="Logo Ministerie van Onderwijs, Cultuur en Wetenschap">
                <span class="screenreader-only">ministerie van onderwijs, cultuur en wetenschap, naar de homepage</span>
            </a>
        </div>
    </header>
