	<header class="header header--transparent" role="banner">
        <div align="center">
            <img src="https://files.slack.com/files-pri/TU8TE8M40-F01269K04G0/image.png" class="responsive" width="5%">
        </div>
        <div class="header-logo">
            <a href="/" title="Logo Ministerie van Onderwijs, Cultuur en Wetenschap">
                <span class="screenreader-only">ministerie van onderwijs, cultuur en wetenschap, naar de homepage</span>
            </a>
        </div>
    </header>
