    <nav class="top-nav" id="docs-nav">
        <div class="container">
            <div class="top-nav__block top-nav-autoresize">
                <ul class="nav">
                    <li class="nav__item">
                        <a href="{{ path('app_default_index') }}" title="Home" class="nav__link  ">
                            <i class="icon icon-home" role="presentation"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="{{ path('app_begrafenisplannen_begraafplaats') }}" title="Begrafenis Plannen" class="nav__link  ">
                            <span>Begrafenis Plannen</span>
                        </a>
                    </li>
                    {% if user is defined and user is not empty %}
                    <li class="nav__item"><a class="nav__link " href="">Instemmingen</a></li>
                    <li class="nav__item"><a class="nav__link " href="">Verzoeken</a></li>
                    <li class="nav__item"><a class="nav__link " href="app_logout">Uitloggen</a></li>
                    {% else %}
                    <li class="nav__item">
                        <a href="app_login" title="Home" class="nav__link  ">
                            <i class="icon icon-user" role="presentation"></i>
                            <span>Inloggen</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </nav>
