<div class="content-background">
    <div class="content">
        <h2>Artikelen</h2>

        <!-- Page Break -->
        <div style="height: 20px;"></div>

            <h3>Selecteer artikelen</h3>
            <fieldset class="input filter" id="artikelen">
                <legend class="filter__title">Artikelen:</legend>
                <ul class="input__group-list">
                    <li class="input__group input__group--checkbox">
                        <input type="checkbox" id="Bijzettingen" class="input__control input__control--checkbox"><label for="Bijzettingen" class="input__label input__label--checkbox"> Bijzettingen</label>
                        <ul>
                            <li><input type="checkbox" class="input__control input__control--checkbox" id="option1"><label for="option1" class="input__label input__label--checkbox"> Asverstrooiing</label></li>
                            <li><input type="checkbox" class="input__control input__control--checkbox" id="option2"><label for="option2" class="input__label input__label--checkbox"> Bijzetting Asbus</label></li>
                        </ul>
                    </li>
                    <li class="input__group input__group--checkbox">
                        <input type="checkbox" id="Diversen" class="input__control input__control--checkbox"><label for="Diversen" class="input__label input__label--checkbox"> Diversen</label>
                        <ul>
                            <li><input type="checkbox" class="input__control input__control--checkbox" id="Veld1"><label for="Veld1" class="input__label input__label--checkbox"> Gebruik Orgel</label></li>
                            <li><input type="checkbox" class="input__control input__control--checkbox" id="Veld2"><label for="Veld2" class="input__label input__label--checkbox"> Gebruik Koffiekamer</label></li>
                            <li><input type="checkbox" class="input__control input__control--checkbox" id="Veld3"><label for="Veld3" class="input__label input__label--checkbox"> CD</label></li>
                        </ul>
                    </li>
                </ul>
            </fieldset>

            <!-- Page Break -->
            <div style="height: 20px;"></div>

{#
            <div class="input">
                <button type="submit" class="btn" name="submit" value="save">Opslaan</button> of naar de <a href="{{ path('app_begrafenisplannen_datumtijd') }}">vorige stap</a>
            </div>
#}

    </div><!-- /.content -->
</div><!-- /.content-background -->
