<div class="content-background">
    <div class="content">
        <h2>Belanghebbende</h2>

        <!-- Page Break -->
        <div style="height: 20px;"></div>

        <form class="form" method="post" action="#">
            <h3>Selecteer belanghebbende</h3>
            <div class="input combobox" id="gemeente_combobox">
                <input
                    class="combobox__input input__control input__control--text input__control--xl input__control--select"
                    id="autocomplete-gemeente"
                    value="Dit is een placeholder, W.I.P.">
            </div>

            <!-- Page Break -->
            <div style="height: 20px;"></div>

{#
            <div class="input">
                <button type="submit" class="btn" name="submit" value="save">Opslaan</button> of naar de <a href="{{ path('app_begrafenisplannen_overledene') }}">vorige stap</a>
            </div>
#}
        </form>

    </div><!-- /.content -->
</div><!-- /.content-background -->
