<label class="input__label" for="{{ property.name }}">{{ section.description }}</label>
<input class="input__control input__control--text" id="{{ property.name }}" type="date" name="properties[{{ property.name }}]" required>
