<label class="input__label" for="{{ property.name }}">BSN van verhuizende</label>
<input class="input__control input__control--text" id="{{ property.name }}" type="text" name="properties[{{ property.name }}][]">
