<div class="row">
    <div class="col-md-4">
        <label class="input__label" for="postalCode">Postcode</label>
        <input class="input__control input__control--text" id="postalCode" type="text" name="postalCode" required>
    </div>
    <div class="col-md-4">
        <label class="input__label" for="houseNumber">Huisnummer</label>
        <input class="input__control input__control--text" id="houseNumber" type="text" name="houseNumber" required>
    </div>
    <div class="col-md-3">
        <label class="i4put__label" for="houseNumberSuffix">Huisnummer toevoeging</label>
        <input class="input__control input__control--text" id="houseNumberSuffix" type="text" name="houseNumberSuffix">
    </div>
</div>
