@import '../../settings/colors';
@import '../../settings/spacing';

@import '../../tools/font-size';
@import '../../tools/responsive';

.hint {
  border-left: 0.5rem solid $donkergeel;
  margin: $default-margin * 2 0;
  padding-left: 2rem;

  p:last-of-type {
    margin-bottom: 0;
  }
}

.hint--secondary {
  border-left-color: $grijs-2;
}

.collapse__details > .hint {
  margin-left: 0.6rem;
  padding-left: 1.2rem;
}

.hint__title {
  @include title-s;
  font-weight: bold;
  margin-bottom: 0;
}

.hint__link {
  display: block;
}
