// stylelint-disable
$icon-hash: 'f5b51329c1c215ed0259dac00a3d35b0';

$icons: (
    icon-arr-backward: '\f101',
    icon-arr-forward: '\f102',
    icon-arrow-back: '\f103',
    icon-cat-dummy: '\f104',
    icon-check: '\f105',
    icon-chevron-down: '\f106',
    icon-chevron-left: '\f107',
    icon-chevron-right: '\f108',
    icon-chevron-up: '\f109',
    icon-collapse-down: '\f10a',
    icon-collapse-left: '\f10b',
    icon-collapse-right: '\f10c',
    icon-collapse-up: '\f10d',
    icon-cross: '\f10e',
    icon-delete: '\f10f',
    icon-document: '\f110',
    icon-download: '\f111',
    icon-edit: '\f112',
    icon-error: '\f113',
    icon-filter: '\f114',
    icon-folder: '\f115',
    icon-hamburger: '\f116',
    icon-home: '\f117',
    icon-icon-mail: '\f118',
    icon-info: '\f119',
    icon-link-external: '\f11a',
    icon-list: '\f11b',
    icon-magnifier: '\f11c',
    icon-min: '\f11d',
    icon-plus: '\f11e',
    icon-question: '\f11f',
    icon-secure: '\f120',
    icon-success: '\f121',
    icon-upload: '\f122',
    icon-user: '\f123',
    icon-warning--alt: '\f124',
    icon-warning: '\f125',
)
// stylelint-enable
  