apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ include "name" . }}-{{ .Values.settings.env }}-ingress
  labels:
    app.kubernetes.io/name: {{ include "name" . }}-ingress
    app.kubernetes.io/part-of: {{ include "name" . }}
    helm.sh/chart: {{ include "chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
{{- if .Values.ingress.tls }}
  tls:
  {{- range .Values.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ .host | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
    - host: {{ .Values.settings.name }}.{{ .Values.settings.env }}.{{ .Values.settings.domain }}
      http:
        paths:
          - path: /*
            backend:
              serviceName: {{ include "name" . }}-nginx
              servicePort: 80
