@include media-breakpoint-up(sm) {

  .columns {
    column-count: 2;
    column-gap: 3.5rem;

    /* stylelint-disable */
    @include ie-10-only() {
      // Disable columns on IE10+
      column-count: 1;

      // Then enable them for IE11+
      _:-ms-fullscreen, :root & {
        column-count: 2;
        column-gap: 4rem; //added extra px for windows px handling.
      }
    }
    /* stylelint-enable */
  }
}
