// For highlights, hints, actions and H4

//$section-title-font-size: 20; // For mobile, for desk 21pt
//$section-title-font-weight: 700;

// Font-size
$font-size-xxxl:    3.1rem;
$font-size-xxl:     2.8rem;
$font-size-xl:      2.6rem;
$font-size-l:       2.3rem;
$font-size-m:         2rem;
$font-size-s:       1.8rem;
$font-size-xs:      1.6rem;
$font-size-xxs:     1.4rem;
$font-size-xxxs:    1.2rem;

// Line-height
$line-height-xxxl:  3.5rem;
$line-height-xxl:   3.2rem;
$line-height-xl:    3rem;
$line-height-l:     2.7rem;
$line-height-m:     2.6rem;
$line-height-s:     2.2rem;
$line-height-xs:    1.8rem;

$base-font-size: 18;
$base-line-height: 24;

$font-sans: 'RijksoverheidSans', Helvetica, Arial, sans-serif;

$icon-font-path: './fonts' !default;
