// Override bootstrap container sizes
$container-max-widths: (
    sm: 100%,
    md: 100%, //720px,
    lg: 100%, //940px
    xl: 1200px,
    xxl: 1800px
  );

$grid-breakpoints: (
    // Extra small screen / phone
    xs: 0,
    // Small screen / phone
    sm: 544px,
    // Medium screen / tablet
    md: 768px,
    // Large screen / desktop
    lg: 992px,
    // Extra large screen / wide desktop
    xl: 1200px,
    // For 'medewerkersschermen' only
    xxl: 1600px
  );

//$grid-gutter-width: 1.875rem;
$grid-gutter-width: 2rem;
$grid-text-padding: 3rem;

$grid-num-content-columns-md: 12;
$grid-num-content-columns-lg: 9;
